.col-1-5 {
  width: 20%;
  flex: 0 0 auto;
}

.col-1-7 {
  width: calc(100% / 7);
  flex: 0 0 auto;
}

@media (min-width: 576px) {
  .col-sm-1-7 {
    width: calc(100% / 7);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-md-1-7 {
    width: calc(100% / 7);
    flex: 0 0 auto;
  }
}

@media (min-width: 992px) {
  .col-lg-1-7 {
    width: calc(100% / 7);
    flex: 0 0 auto;
  }
}

@media (min-width: 1200px) {
  .col-xl-1-7 {
    width: calc(100% / 7);
    flex: 0 0 auto;
  }
}
