body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.view-settings .accordion {
  --bs-accordion-active-color: var(--bs-secodary-text-emphasis) !important;
  --bs-accordion-active-bg: var(--bs-secondary-bg-subtle) !important;
}

.link-like {
  color: rgb(13,110,253);
  text-decoration: none;
  cursor: pointer;
}
